.container {
  margin: 0 2em;
  background-image: url("./Assets/Bitmap.png");
  background-repeat: no-repeat;
  margin-right: 1%;
  width: auto;
}

.theBody {
  display: flex;
}

.languages {
  display: flex;
  width: auto;
  justify-content: flex-end;
  padding: 5px;
  padding-bottom: 0;
}

.languages img {
  padding: 2px;
}

.theLogo {
  display: flex;
  align-items: center;
  width: 100%;
}
.theLogo h3 {
  display: flex;
  color: rgb(145, 144, 144);
  margin-left: 1.5%;
  width: 100%;
  padding: 0;
  opacity: 0.8;
}

.topOfNav {
  display: flex;
  width: auto;
  justify-content: space-between;
  color: grey;
}

.theInput {
  display: flex;
  align-items: center;
}
.theInput input {
  border: none;
  padding: 3%;
  width: 97%;
}

.navList a:hover {
  background-color: #41b3cd;
}

.navList a {
  text-decoration: none;
  color: white;
  padding: 1.5%;
  width: 100%;
  background-color: #027d9e;
  display: flex;
  justify-content: center;
  border-right: 0.01px solid rgba(31, 29, 29, 0.151);
}

.navList {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-bottom: 2%;
  border-bottom: 4px solid #41b3cd;
}
.navList a:first-child {
  border-left: 0.01px solid rgba(31, 29, 29, 0.151);
}

.leftBody {
  display: flex;
  flex-direction: column;
  width: 18%;
}

.leftBody h4 {
  background-color: #41b3cd;
  color: white;
  width: 90%;
  margin-bottom: 0;
  border-bottom: 2px solid #027d9e;
  font-size: 0.65em;
  padding: 5%;
}

.leftList {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.leftList a {
  text-decoration: none;
  padding: 5.5% 0 5.5% 5.5%;
  width: auto;
  color: rgb(54, 52, 52);
  font-weight: 600;
  border-bottom: 0.1px solid rgb(226, 226, 226);
  background-color: ghostwhite;
}

.leftList a:hover {
  color: white;
  background-color: #41b3cd;
}
.leftList a:last-child {
  border-bottom: none;
}

.leftCard {
  width: 100%;
}

.leftCard img {
  width: 100%;
  margin: 0;
}

.leftCard button {
  font-size: 0.75em;
  color: grey;
  font-weight: 600;
  width: 100%;
  background-color: whitesmoke;
  border: none;
  margin-top: -6px;
  padding: 5% 0;
}

.newsletter {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.newsletter h4 {
  font-size: 0.85em;
}

.inputs {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  width: 90%;
  align-items: center;
  padding: 5%;
  padding-bottom: 12%;
}

.inputs input {
  margin: 1.5% 0;
  padding: 5px 0;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.form button {
  position: relative;
  top: -12%;
  background-color: #027d9e;
  color: white;
  border: none;
  width: 45%;
  padding: 4%;
}

.montra {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.montra img {
  border: 10px solid #41b3cd;
}

.rightBody {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2%;
  padding-top: 0;
}

.titleOne {
  color: white;
  background-color: #027d9e;
  width: 18%;
  position: relative;
  z-index: 1;
  top: -35%;
  right: -2%;
  margin: 0;
  margin-bottom: 0.5%;
  margin-left: 0.8%;
  font-size: 2.7em;
  font-weight: 900;
  padding: 0.5%;
  padding-left: 1.5%;
}

.titleTwo {
  color: white;
  background-color: #41b3cd;
  width: 75%;
  position: relative;
  z-index: 1;
  top: -35%;
  right: -2%;
  margin: 0;
  margin-left: 0.8%;
  font-size: 1.35em;
  font-weight: 550;
  padding: 1%;
  padding-left: 1.5%;
}

.montraDescription {
  width: 100%;
  margin-top: -4%;
}

.destaques {
  color: white;
  background-color: #41b3cd;
  padding: 1.5%;
  width: 12%;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.card {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(207, 204, 204);
  padding-bottom: 5px;
}
.card:first-child {
  border-top: 3px solid #41b3cd;
}
.cardText {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cardText p {
  width: 82%;
}

.cardText h3 {
  color: #027d9e;
  font-weight: 900;
  margin-bottom: 0;
}

.cardText button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5% 0;
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
  font-weight: 600;
  color: rgb(168, 165, 165);
}

.plusSign {
  font-size: 1.2em;
  color: rgb(168, 165, 165);
  text-align: center;
  background-color: whitesmoke;
  padding: 3px;
  border: 1px solid rgb(194, 193, 193);
  margin-right: 1.5%;
  font-weight: 600;
  width: 15px;
  height: 15px;
}

.card img {
  width: 210px;
  height: 135px;
  padding: 2%;
}

footer {
  color: white;
  width: 100%;
  background-color: #027d9e;
  border-top: 5px solid #41b3cd;
}

.topFooter a {
  text-decoration: none;
  color: white;
}
.topFooter {
  display: flex;

  justify-content: flex-start;
  border-bottom: 1px solid #41b3cd;
}

.footerList {
  display: flex;
  flex-direction: column;
  width: 15%;
  margin-right: 3%;
  padding-bottom: 1.5%;
}

.footerList:last-child {
  padding-top: 5%;
}

.bottomFooter {
  display: flex;
  justify-content: space-around;
}
.theLine {
  display: flex;
  flex-direction: column;
  border-right: 0.3px solid #41b3cd;
  border-left: 0.3px solid #41b3cd;
}

.last {
  display: flex;
  align-items: center;
}

.last img {
  height: 19px;
}

.last p {
  opacity: 0.3;
}
